html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 120px;
  margin: 0;
  padding: 0;
}

.jumbotron {
  height: 500px;
  background-image: url(https://img.freepik.com/free-photo/neutral-abstract-texture-minimal-background_53876-98402.jpg?t=st=1652496732~exp=1652497332~hmac=8ede66b9c0754312d577e7a06749d23d5f8dfd5cf1cb48deb1f4428f092b04c4&w=740);
  background-size: cover;
  background-attachment: fixed;
  background-position: 0 -140px;
  overflow: hidden;
  position: relative;
}

.jumbotron img {
  width: 200px;
  border: 5px solid #666;
}

hr {
  width: 250px;
  border-top: 3px solid #999;
}

.about {
  position: relative;
  background-color: rgb(255, 255, 255);
  bottom: 0;
  width: 100%;
  padding-bottom: 50px;
}

.portfolio {
  position: relative;
  background-color: #f7dfdf;
  bottom: 0;
  width: 100%;
  padding-bottom: 50px;
}

.sertificate {
  position: relative;
  background-color: rgb(255, 255, 255);
  bottom: 0;
  width: 100%;
  padding-bottom: 50px;
}

.img {
  height: 7px;
}

p {
  font-size: 16px;
}

a {
  font-size: 20px;
}

footer {
  bottom: 0;
  position: relative;
  width: 100%;
  background-color: #92cc92;
}

footer p {
  color: #aaa;
  font-size: 0.9em;
}

footer p i {
  color: salmon;
}
